<div class="text-center">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>
  <p><%= link_to "Edit", edit_article_path %></p>
  <p><%= link_to "< Go home", articles_path %></p>
</div>
